Repository ucsb-cs156-s24/team02-s24-4pm-3, pull requests merged in 2024-05, with the labels that each got.

#47 Add HelpRequest entity and database
  src/main/java/edu/ucsb/cs156/example/entities/HelpRequest.java
  src/main/java/edu/ucsb/cs156/example/repositories/HelpRequestRepository.java
  src/main/resources/db/migration/changes/HelpRequest.json
Labels: HelpRequest

#55 Create database table for UCSBDiningCommonsMenuItem
  src/main/java/edu/ucsb/cs156/example/entities/UCSBDiningCommonsMenuItems.java
  src/main/java/edu/ucsb/cs156/example/repositories/UCSBDiningCommonsMenuItemsRepository.java
  src/main/resources/db/migration/changes/UCSBDiningCommonsMenuItems.json
Labels: UCSBDiningCommonsMenuItem

#60 Kevin c ucsb dining commons menu item get
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/main/java/edu/ucsb/cs156/example/repositories/UCSBDiningCommonsMenuItemsRepository.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#57 Added controllers and tests for DiningCommonsMenuItems
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#64 Ucsb dining commons menu item put endpoint
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#62 Add delete endpoint to Dining Commons Menu Items Controller
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#49 create database table on dokku for ucsb organization
  src/main/java/edu/ucsb/cs156/example/entities/UCSBOrganization.java
  src/main/java/edu/ucsb/cs156/example/repositories/UCSBOrganizationRepository.java
  src/main/resources/db/migration/changes/UCSBOrganization.json
Labels: UCSBOrganization

#69 HelpRequest DELETE endpoint and tests
  src/main/java/edu/ucsb/cs156/example/controllers/HelpRequestsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/HelpRequestsControllerTests.java
Labels: HelpRequest
